.square {
    box-sizing: border-box;
    width: 60px;
    height:60px;
    background-color: white;
    border: 1px solid black;
    margin:0;
}
#container {
    height:960px;
    width:960px;
    display:flex;
    flex-wrap: wrap;
    gap:0;
}
#squareNumber {
    height:30px;
    width:968px;
    margin-bottom:10px;
    font-size: 20px;
}
.buttoncontainer {
    display: flex;
    margin-bottom:10px;
    gap:7px;
}
.rainbow, .darkening, .reset{
    height:30px;
    width:318px;
    font-weight: bold;
    font-size: 20px;
}
h1 {
    margin-left:370px;
    font-size: 40px;
    margin-bottom: 10px;
}